<!DOCTYPE html>
<html lang="en-US">
    {% load static %}
<head>
    <title> My Website </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset = "UTF-8">
<style>
    * {
        box-sizing: border-box;
        margin: 0;
    }

    body {
        font-family: Arial;
        margin: 0;
    }

    .header {
        background:#3d0638;
        color: aliceblue;
        justify-content: flex-end;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .left {
        flex: 60%;
        padding: 20px;
        background-color: #232B41;
    }

    .right {
        flex: 40%;
        padding: 20px;
        background-color: #87981C;
    }
    .steam {
        background-size: 50px, 50px;
        justify-items: flex-end;
        
    }
    .osu {
        background-size: 40px, 40px;
    }
    .git {
        background-size: 50px, 50px;
    }
    .steam {
        background-size: 50px, 50px;
    }
    .insta {
        background-size: 50px, 50px;
    }
    .twitter {
        background-size: 50px, 50px;
    }
    .profile {
        background-size: 300px, 376px;
        margin-left: 5%;
        margin-top: 5%;
        border: 5px solid white;
        border-radius: 8%;
    }
    .name {
        font-family: Inder;
        font-style: normal;
        font-weight: 500;
        color: aliceblue;
        font-size: 70px;
        margin-top: 5%;
        margin-left: 5%;

    }
    .npm {
        font-family:'Courier New', Courier, monospace;
        font-style: normal;
        font-weight: 100;
        color: aliceblue;
        margin-left: 5%;
        font-size: 33px;
    }
    .ui {
        font-family: Inder;
        font-style: normal;
        font-weight: 500;
        color: aliceblue;
        font-size: 55px;
        margin-top: 30%;
        
    }
    .hobbydesc {
        font-family: Inder;
        font-style: normal;
        font-weight: 500;
        color: aliceblue;
        font-size: 55px;
        margin-top: 20%;
    }

    .question {
        background-size: 30px, 30px;
        margin-top: 20%;
    }
    div.gradhat {
        background-image:url("gradhat.png");
        width: 80px;
        height: 80px;
        
        
    }
    div.hobby {
        background-image:url("hobbies-symbol-png-2.png");
        width: 80px;
        height: 80px;
        
        
    }
    .desc {
        font-family: Inder;
        font-style: italic;
        font-weight: 200;
        color: aliceblue;
        font-size: 33px;
        margin-top: 30%;
    }
    .footer {
        background:#3d0638;
        float: left;
        padding: 20px;
    }


</style>
</head>
<body>
    <div class="header">
        <a href = "https://twitter.com/Rafadanaaa">
            <img src="{% static "twitlogoW.png" %}" alt="Twitter profile" class = twitter></a>
        <a href="https://osu.ppy.sh/users/4572717">
            <img src="{% static "Osu.png" %}" alt="Osu profile" class = "osu"></a>        
        <a href="https://gitlab.com/RafadanaM">
            <img src="{% static "gitlablogo.png" %}" alt="Gitlab Profile" class = git></a>
        <a href="http://steamcommunity.com/id/that1retard">
            <img src="{% static "steam.png" %}" alt="Steam profile" class = steam></a>
        <a href="https://www.instagram.com/rafadana12">
            <img src="{% static "instagramw.png" %}" alt="Instagram profile" class = insta></a>

    </div>
    
    <div class = "row">
        <div class ="left">

            <img src="{% static "line_197466454336658.png" %}" alt = "profile" class = profile >
            <h1 class = name> R A F A D A N A </br> M O U N T H E I R A</h1>
            <p class = npm>1 8 0 6 2 4 1 1 3 5</p>
            <a href="https://youtu.be/dQw4w9WgXcQ">
                <img src = "{% static "question.png" %}" alt = "What is this?" class = question> </a>
        </div>
        <div class = "right">

            <p class = ui>Universitas Indonesia</p>
            <p class = hobbydesc>Futsal, Games</p>
            <p class = desc>A computer Science student that's born in 22nd December 1999</p class>
        </div>

        
    </div>
 


    
        




</body>
</html>
